@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, corporate;
  

}
@plugin "daisyui/theme" {
  name: "corporate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


/* header CSS */
@utility heading1 {
  @apply font-sans font-bold text-4xl mt-8 text-center text-primary;
}

@utility heading2 {
  @apply font-sans text-2xl mt-2 text-center text-neutral;
}

@utility navbar {
  @apply inline bg-primary items-center p-0.5 min-h-8 text-xl text-center;
  @apply text-neutral hover:text-secondary transition-colors;
}

@utility navbar-active {
  @apply inline bg-secondary items-center p-0.5 min-h-8 text-xl text-center;
  @apply font-bold;
} 

@utility navlist {
  @apply list-none overflow-hidden bg-[#333] m-0 p-0 grid grid-cols-5 w-full max-w-4xl mx-auto mt-4;
}

/* main content */
@utility bullet1 {
  @apply font-sans font-bold text-4xl mt-8 text-left text-accent;
  @apply w-full max-w-4xl mx-auto;
}

@utility selector {
  @apply w-full max-w-4xl mx-auto flex bg-base-300 rounded-lg overflow-hidden;
  @apply mt-3;
}

@utility text-input {
  @apply w-1/2 text-center py-3 cursor-pointer font-bold text-neutral;
  @apply bg-transparent peer-checked/text:bg-neutral peer-checked/text:text-white;
  @apply transition-colors duration-200;
}

/* imdb form */
@utility imdb-link {
  @apply w-1/2 text-center py-3 cursor-pointer font-bold text-warning;
  @apply bg-transparent peer-checked/imdb:bg-warning peer-checked/imdb:text-black;
  @apply transition-colors duration-200;
}

@utility imdb-form {
  @apply items-center justify-center mt-16;
  @apply text-xl;
  @apply w-full max-w-4xl mx-auto;
}

/* text-input form */
@utility text-form {
  @apply items-center justify-center mt-16;
  @apply text-xl;
  @apply w-full max-w-4xl mx-auto;
}

@utility rating-selector {
  @apply w-1/3 max-w-4xl mx-auto flex bg-base-300 rounded-lg overflow-hidden;
  @apply mt-3;
}

@utility negative-rating {
  @apply w-1/2 text-center py-2 cursor-pointer font-bold text-red-600;
  @apply bg-transparent peer-checked/negative:bg-red-600 peer-checked/negative:text-white;
  @apply transition-colors duration-200;
}

@utility positive-rating {
  @apply w-1/2 text-center py-2 cursor-pointer font-bold text-green-600;
  @apply bg-transparent peer-checked/positive:bg-green-600 peer-checked/positive:text-black;
  @apply transition-colors duration-200;
}
@utility form-heading {
  @apply text-center items-center font-bold text-success mt-8 text-xl;
  @apply w-full max-w-4xl mx-auto;
}

@utility paragraph {
  @apply items-center text-base text-left;
  @apply w-full max-w-4xl mx-auto;
}

@utility code {
  @apply bg-gray-300;
}

@utility btn {
  @apply rounded-full;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}